#center {
    margin-left: auto;
    margin-right: auto;
    width: 700;
}

#myCanvas {
	border:solid 5px #e600e6;
	display: block;
	margin: 0 auto;
}
button{
    height:40px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
/*
 
#myForm {
	width: 50%;
	border:solid 2px #e600e6;
	display: block;
	margin: 0 auto;
}
*/
form div{
	width: 80%;
	height: 50px;
	margin: 0 auto;
}
form div div {
	width: 30%;
	margin: 5px auto;
	padding: 7px;
	position: relative;
	float: left;
}

