form div{
	vertical-align: middle;
	text-align: center;
	margin: 5px;
}

form div div {
	text-align: left;
	height: 50px;
	margin: 10px;
	width: auto;
	display: inline-block;
}

h1, h2 {
text-align: center;
color: #2C2C2C;
} 

p {
	text-align: center;
	font-size:small;
}

#center {
    margin-left: auto;
    margin-right: auto;
    width: 700;
}

#myCanvas {
	border:solid 3px #8C9E96;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#myForm {
	padding: 10px;
}


