h1, h2 {
text-align: center;
color: #2C2C2C;
} 

p {
	text-align: center;
	font-size:small;

}
#center {
    margin-left: auto;
    margin-right: auto;
    width: 700;
}

#myCanvas {
	border:solid 3px #8C9E96;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


button{
    height:40px; 
	margin: 5px auto;
    width:120px; 
}
 
#myForm {
	padding: 10px;
}

form div{
	vertical-align: middle;
	text-align: center;
	height: 60px;
	margin: 2 auto;
}

form div div {
	padding: 0px 10px;
	text-align: left;
	height: 50px;
	margin: 0 auto;
	width: auto;
	display: inline-block;
}

